body {
  margin: auto;
  width: 960px;
  font: 13px/1.5 "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
  background: #fff;
  color: #FFF;
  font-size: 16px; }

/* --HEADER-- */
#header {
  text-align: center;
  overflow: hidden;
  background: #fff; }
  #header h1 {
    color: #EB7124;
    font-size: 35px;
    padding-top: 20px; }
    #header h1 a {
      color: #000;
      text-decoration: none; }

#nav {
  overflow: hidden;
  background: #FFF; }
  #nav ul li {
    display: inline;
    list-style: none;
    margin-left: 0px; }
    #nav ul li a {
      color: #474342;
      text-decoration: none;
      margin-right: 25px;
      padding-right: 25px;
      border-right: 1px solid #484848; }
      #nav ul li a:hover {
        color: #EB7124; }
    #nav ul li:last-child a {
      border-right: none;
      margin-right: 0;
      padding-right: 0; }

/** --MAIN-- */
#main {
  text-align: center;
  overflow: hidden;
  background: #fff;
  color: #474342; }
  #main a {
    color: #777;
    text-decoration: none; }
    #main a:hover {
      color: #EB7124; }
  #main #board table {
    margin: auto; }
    #main #board table tr td img {
      display: block; }

#flash_notice, #flash_error, #flash_alert {
  width: 525px;
  margin-left: auto;
  margin-right: auto; }

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6; }

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66; }

.fieldWithErrors {
  display: inline; }

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px; }
  .error_messages h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 10px;
    font-size: 12px;
    margin: 0;
    background-color: #c00;
    color: #fff; }
  .error_messages p {
    margin: 8px 10px; }
  .error_messages ul {
    margin: 0; }

#mainContent h2 {
  font-size: 25px; }
